@import url('https://fonts.googleapis.com/css2?family=Muli:wgh@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Muli", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #e4e5e7;
    display: grid;
    place-content: center;
}
.container{
    width: 700px;
    background-color: #fff;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 1rem 0;
}
.textInfo{
    padding: 0 1rem 1rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
}
.textInfo::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgb(207, 204, 204);
    bottom: 0;
    left: 0;
}
.info p:first-child{
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.info p:last-child{
    font-size: 1.4rem;
    font-weight: bold;
}
.writingArea{
    width: 100%;
    padding: 0 1rem;
}
.writingArea textArea{
    font-size: 16px;
    outline: none;
    border: none;
    width: 100%;
    padding: 9px 0;
    letter-spacing: 1px;
}
.writingArea textarea::placeholder{
    color: rgb(165, 161, 161);
    text-transform: none !important;
}
.textOperation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    margin: 0 5px;
    background-color: rgb(61, 236, 61);
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(6, 182, 6);
    transition: 0.5s;
}
.disable{
    background-color: rgb(158, 252, 158);
    user-select: none;
    pointer-events: none;
}
